body {
  background-color: #00ffff;
  background-image: linear-gradient(pink,green);
}

h1 {
  color: #cc00cc;
  margin-left: 20px;
}

#riddle {
  padding: 8px;
  border: 15px solid blue;
  width: 150px;
  background-color: #FF7F50;
}
#div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
