body {
  background-color: lightblue;
  background-color: linear-gradient(pink, green);
}

h1 {
  color: #cc00cc;
  margin-left: 20px;
  text-shadow: 2px 2px purple;
}

#riddle {
  width: 300px;
  border: 8px solid white;
  border-radius: 15px;
  padding: 50px;
  margin: 20px;
}
