body {
  background-color: #00ffff;
  background-image: linear-gradient(blue,brown);
}

h1 {
  color: #cc00cc;
  margin-left: 20px;
}

#riddle {
  background-color: #FFFF03;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
}
